head
    meta(charset="UTF-8")
    title Swift Academy - Default Presentation Template/Boilerplate
    link(rel="stylesheet", type="text/css", href="styles.css")
    link(rel="stylesheet", type="text/css", href="theme/night.css")
