doctype html
html
    include common/header
    body
        .reveal
            .slides
                include slides/slide1
                include slides/slide2
    script(src="bundle.js")
include common/footer
